<h2 class="title is-2">Edit <%= album.name %></h2>



<form method="POST" action="/albums/<%= album.id %>">
  <div class="field">
    <label class="label" for="name">Name</label>
    <div class="control">
      <input name="name" value="<%= album.name %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Artist</label>
    <div class="control">
      <input name="artist" value="<%= album.artist %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="releaseYear">Release Year</label>
    <div class="control">
      <input name="releaseYear" value="<%= album.releaseYear %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="coverPic">Cover Picture (URL)</label>
    <div class="control">
      <input name="coverPic" value="<%= album.coverPic %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="genres">Genres (comma-separated)</label>
    <div class="control">
      <input name="genres" value="<%= album.genres %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="spotifyMonthlyPlays">Spotify Monthly Plays</label>
    <div class="control">
      <input name="spotifyMonthlyPlays" value="<%= album.spotifyMonthlyPlays %>" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="label">Record Label</label>
    <div class="control">
      <input name="label" value="<%= album.label %>" class="input" type="text">
    </div>
  </div>

  <input type="hidden" name="_method" value="PUT">

  <button class="button is-warning">Edit album</button>
</form>
