<div class="columns is-half is-centered">
  <div class="column is-half is-narrow">
    <img class="bookCoverShow" src=<%= audiobook.bookCover %> alt=>
  </div>
</div> %>

<div class="columns is-centered">
  <div class="column is-half is-narrow">
    <div class="audioShowTitles">
      <h1 class="title is-1"><%= audiobook.name %></h1>
      <h2 class="subtitle is-1"><%= audiobook.author %></h2>
    </div>


    <p>Released: <%=audiobook.publicationYear %>


      <p>Genres: <% audiobook.genres.forEach(genre => { %>
        <span class="tag"><%= genre %></span>
        <% }) %>
      </p>

    <%- include('../comments/index', { audiobook }) %>
      <% if (locals.isLoggedIn) { %>
        <hr/>
        <div class="section">
          <div class="level">
            <div class="level-left">
              <a class="button is-warning" href="/audiobooks/<%= audiobook.id %>/edit">Edit</a>
            </div>
            <div class="level-right">
              <form class="" action="/audiobooks/<%= audiobook.id %>" method="POST">
                <button class="button is-warning">DELETE</button>
                <input type="hidden" name="_method" value="DELETE">
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>
