<h1 class="title is-1">All the albums</h1>

<div class="columns is-multiline">

<% albums.forEach(album => { %>
  <div class="column is-one-quarter">
  <a href="/albums/<%= album._id %>">
  <img src=<%= album.coverPic %> alt<%= album.name %> />
  <h2 class="title is-2"><%= album.name %></h2>
  <h3 class="subtitle is-3"><%= album.artist %></h3>
  </a>
  </div>
<% }) %>

</div>
